<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
        <link rel="stylesheet" href ="/res.css" type="text/css">
        <link rel="stylesheet" href ="/styles.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500&family=Varela+Round&display=swap" rel="stylesheet">    
		<link rel="stylesheet" href="/footer.css" type="text/css">
		<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/js/scroll.js"></script>
		
		
		</head>
    <body>
        
        <nav  id ="navba" class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
            <span class="logo"><img src="https://i.ibb.co/TKZMfjf/logo.png"></span>
            <a href="/" class="navbar-brand">SearchFlix</a>
            <button onclick="myFunction()" class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">home</a>
                    </li>
                    <li class="nav-item">
                      <a href="/aboutMe" class="nav-link">About dev</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link">contact</a>
                    </li>
                    <li class="nav-item">
                         <a href="http://www.omdbapi.com/" class="nav-link">API</a>
                    </li>
                </ul>
            </div>
        </div>

        </nav>


