        <%-include("partials/header.ejs")%>



        <div class="heading">
         <h1 data-text="Wanna know more about Movie/TV Shows?">Wanna know more about Movie/TV Shows?</h1>
         


        </div>
          <form action="/results" method="GET">
        <div class="wrapper">
			
				
	<input type="text" class="input" placeholder="Search for movies/series" name="sresult">
		<button class="submit searchbtn" > 
				<i class="fas fa-search">
				</i>
				   

         </button>

        </div>
</form>

<!-- Footer -->
<footer class="page-footer " style=" position: absolute ; top:97% ; left:43%; ; ">

  <!-- Copyright -->
  <div id= "footer" class="footer-copyright text-center " >© 2020 Copyright
    <a style="color: #303030;" href="https://Searchflix.com/"> Searchflix.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


   <%-include("partials/footer.ejs")%>

